<div class="profile-background-image">
  <div class="page-title">
    <h2><%= @user.first_name %> <%= @user.last_name %>
    </h2>
  </div>
  <br>

  <div class="container pb-5">
    <div class="row">
      <div class="col-12" >
        <div class="profile-heading">
          <h3> My Bookings</h3>
        </div>
          <div class="container-bookings-inner cards ">
            <% @bookings.each do |booking| %>
              <div class="profile-card-trip-small-rounded" class="col-3">
                <%= cl_image_tag booking.island.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="booking-cards-text">
                  <div class="profile-card-trip-infos">
                    <h4><%= link_to booking.island.name, island_path(booking.island) %></h4>
                    <p><%= booking.island.price %></p>
                  </div>
                  <div class="profile-booking-card-name">
                    <div>
                      <p><%= booking.start_date  %></p>
                    </div>
                    <div>
                      <p><%= booking.end_date %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <div class="profile-heading-bottom">
        <h3>My Islands</h3>
        </div>
        <div class="container-bookings-inner cards">
          <% @islands.each do |island| %>
            <div class="profile-card-trip-small-rounded" class="col-3">
              <%= cl_image_tag island.photo.key, height: 300, width: 400, crop: :fill %>
              <div class="profile-island-card-info">
                <div class="profile-island-card-name">
                  <h4><%= link_to island.name, island_path(island)  %></h4>
                   <p><%= island.price %></p>
                </div>
                <div class="profile-island-card-description">
                  <%# <p><%= island.location %>
                  <p><%= island.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
